/* see https://github.com/lashaNoz/Calendar */

html {
  height: 100vh;
}

i {
  padding: 20px;
}

.fas.fa-angle-left.prev:hover {
  background-color: #458f73;
}

.fas.fa-angle-right.next:hover {
  background-color: #458f73;
}

.container {
  width: 99vw;
  grid-area: calender;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  background-color: #222227;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  height: 15vh;
  background-color: #167e56;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.month i {
  cursor: pointer;
}

.month h1 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.weekdays {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.weekdays div {
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  width: calc(99.5vw / 7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.days div {
  box-sizing: border-box;
  width: calc(99.5vw / 7);
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.days div:hover:not(.today) {
  box-sizing: border-box;
  background-color: #262626;
  border: 0.2rem solid #777;
}

.prev-date,
.next-date {
  box-sizing: border-box;
  opacity: 0.5;
}

.today {
  box-sizing: border-box;
  background-color: #167e56;
}

.credits {
  height: .001vh;
  color: rgb(0, 0, 0);
	background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
}

.trained {
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  color: white;
  text-align: center;
}

.todayTrained {
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 50%;
  background-color: #167e56;
  color: white;
  text-align: center;
}

header {
  grid-area: header;
  text-align: center;
}

nav ul {
  margin: 20px;
  border-radius: 10px;
  justify-content: space-around;
  display: flex;
  list-style-type: none;
}

.raise:hover,
.raise:focus {
	box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
	transform: translateY(-0.25em);
}

.raise {
	margin: 0.5em;
	padding: 1em 2em;
	--hover: #00ff04;
}

.testButton {
	font-weight: bold;
	--hover: #00ff04;
  padding: 3px;
  margin-bottom: 20px;
}

.testButton:hover,
.testButton:focus {
	box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
	transform: translateY(-0.25em);
}

button {
  cursor: pointer;
	background: rgba(255, 255, 255, 0.5);
	border: 2px solid;
	font: inherit;
	font-weight: bold;
	line-height: 1;
	border-radius: 12px;
}

.heading {
	background: rgba(255, 255, 255, 0.5);
}