html {
	height: 100vh;
}

.all {
	height: 70vh;
	display: grid;
	overflow-y: auto;
	row-gap: 15px;
}

.container {
	display: grid;

	grid-template-rows: auto auto auto auto;
	grid-template-columns: auto auto auto auto;

	grid-template-areas:
		"image title instructions instructions"
		"image duration instructions instructions"
		"areas areas areas areas"
		"playlist playlist startButton startButton";

	gap: 1px;
	height: 100%;

	background: rgba(255, 255, 255, 0.5);
}

.image {
	grid-area: image;
}

.title {
	grid-area: title;
}

.instructions {
	height: 25vh;
	overflow-y: auto;
	grid-area: instructions;
}

.duration {
	grid-area: duration;
}

.areas {
	grid-area: areas;
}

.playlist {
	grid-area: playlist;
}

.playlistLabel {
	grid-area: playlistLabel;
}

.playlistText {
	grid-area: playlistText;
}

.playlistButton {
	margin: 0.5em;
	padding: 1em 2em;
	--hover: #00ff04;
	grid-area: playlistButton;
}

.startButton {
	margin: 0.5em;
	padding: 1em 2em;
	--hover: #00ff04;
	grid-area: startButton;
}

header {
	text-align: center;
}

nav ul {
	margin: 20px;
	border-radius: 10px;
	justify-content: space-around;
	display: flex;
	list-style-type: none;
}

.raise:hover,
.raise:focus,
.playlistButton:hover,
.playlistButton:focus,
.startButton:hover,
.startButton:focus {
	box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
	transform: translateY(-0.25em);
}

.raise {
	margin: 0.5em;
	padding: 1em 2em;
	--hover: #00ff04;
}

button {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.5);
	border: 2px solid;
	font: inherit;
	font-weight: bold;
	line-height: 1;
	border-radius: 12px;
}

h1 {
	background: rgba(255, 255, 255, 0.5);
}

label {
	background: rgba(255, 255, 255, 0.5);
}